header {
    background: #fff; 
    margin: 0;
    display: flex;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    height: 3.5rem;
    border-bottom: 3px solid $lineColor;

    h1 {
        color: $secondaryColor;
        margin: 0;
        padding: 0 .5rem;
        font: 600 2rem/3.5rem $bodyFont;
    }

    #user {
        align-self: center;
        margin: 0 .25rem 0 0;
        padding: 0;
        width: 2.75rem;
        height: 2.75rem;

        img { 
            max-width: 100%; 
            border-radius: 5px;

            &:hover {
                cursor: pointer;
                opacity: .8;
            }
        }
    }

    &.logged-out {
        header { display: block; 
            h1 { text-align: center; }
            #user { display: none; }
        }
    }

    &.logged-in {
        h1 { text-align: left; }
        #user { display: block; }
    }
}
