#embedded_messenger {
    position: absolute;
    top: 4rem;
    right: .5rem;
    bottom: 1.5rem;
    border-radius: 7px;
    background: $lineColor;
    border: 3px solid #fff;

    iframe {
        height: 100%;
        width: 100%;
        border: none; 
    }

    @include tablet {
        width: 25%;
        bottom: .5rem;
    }
}

#app.landing #embedded_messenger {
    width: auto;
    @include tablet { 
        left: .5rem; 
        width: calc( 100% - 1rem );
    }
}